# API Server
fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings

# Database
motor
dnspython

# AI
pyautogen
langchain
openai
outlines

# misc
google-api-python-client

# Development
pip-tools
black
flake8